<div class="user-strip">
  <h1> hi, <%= @current_user.user_name %> </h1>
  <%= link_to "new post", new_post_path, style: "margin-right: 15px" %>
  <%= link_to "community", users_path, style: "margin-right: 15px" %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete %>
</div>

<div id="sunrise_data"></div>

<%= render "post", post: @post %> <!-- post form partial -->
