<div class="user-strip">
  <h1> hi, <%= @current_user.user_name %> </h1>
  <%= link_to "new post", new_post_path, style: "margin-right: 15px" %>
  <%= link_to "community", users_path, style: "margin-right: 15px" %>
  <%= link_to "sign out", destroy_user_session_path, method: :delete %>
</div>

<div class="sunrise-strip" id="sunrise_data">
  <p class="sunrise-p"> get those good golden hour photos </p>

    <% @response.each_with_index do |f, i| %>
      <% if @desired.include? f[0] %>
        <p> <%= "#{@column_names[i]}: #{f[1]}" %> </p>
      <% end %>
    <% end %>
</div>

<%= render "post", post: @post %> <!-- post form partial -->
