<h1>
  <div class="username">
    <%= @post.user.user_name %>'s posts
  </div>
</h1>

<div class="posts-wrapper row">
  <div class="post">

    <div class="post-head">
      <div class="username">
        <%= @post.user.user_name %>
      </div>
    </div>

    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>

    <p class="caption">
      <%= @post.caption %>
    </p>

  </div>
</div>

<div class="posts-wrapper">
  <% if @post.user.id == current_user.id %>
    <div class="text-center edit-links">
      <%= link_to "<< back to thread", posts_path %>
      |
      <%= link_to "edit post", edit_post_path(@post) %>
    </div>
  <% else %>
    <div class="text-center edit-links">
      <%= link_to "<< back to thread", posts_path %>
    </div>
  <% end %>
</div>
