<% if user_signed_in? %>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-list-items">
        <div class="logo_div">
          <%= link_to (image_tag "lost_city_logo.jpg", class: "lost_city_logo"), root_path %>
        </div>
      </li>
    </ul>
  </nav>
<% else %>
  <div class="landing-div">
    <%= link_to (image_tag "lost_city_logo.jpg", class: "lost_city_landing", id: "lost_city_landing"), root_path %>
  </div>
  <div class="tagline">
    a social urbex platform for sharing visual stories. capture spontaneous adventure and ephemeral beauty in your city
  </div>
  <div class="landing-buttons">
    <ul class="nav-list">
      <li id="signInButton"> <%= link_to "Sign In", new_user_session_path %> </li>
      <li id="signUpButton"> <%= link_to "Sign Up", new_user_registration_path %> </li>
      <li id="about"> <%= link_to "About", '/static_pages/about' %> </li>
    </ul>
  </div>
<% end %>
